*{
    background-color: darkcyan;
    color: wheat;
}
h1{
    text-align: center;
    margin-top: 10vh;
    font-size: 70px;
}

/* search css */
#searchContainer{
    margin: 0 auto;
    text-align: center;
}
#search{
    height: 3vh;
    width: 15vw;
}
#searchBtn{
    width: 5vw;
}

/** movies **/
#moviesContainer{
    margin: 0 auto;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    width: 80vw;
  
}
#movieDiv{
    border: solid;
    border-color: green;
    height: 20vh;
    width: 10vw;
    text-align: center;
}