*{
    background-color: black;
    color: beige;
}
h1{
    text-align: center;
}
#matchInfoContainer{
    display: flex;
    border: solid;
    height: 50vh;
    justify-content: space-evenly;
    

}
#matches{
    border: solid;
    border-color: red;
    justify-content: space-between;
    color: whitesmoke;
}

#teamNamesDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#dynamicName{
    background-color: gray;
    color: wheat;
    font-size: 24px;
    width: 40rem;
}
#homeScore{
    border: solid;
    border-color: orange;
}
#awayScore{
    border: solid;
    border-color: yellow;
}
#matchDate{
    border: solid;
    border-color: green;
}