*{
    background-color: #159d49;

}
.header{
    text-align: center;
    font-size: 50px;
    color: #1ef116;
}

#cardContainer{
    display: flex;
    flex-wrap: wrap;
}

#characterDiv{
    margin: 0 auto;
    border: solid;
    text-align: center;
    margin-top: 1rem;
}

#paginationContainer{
    margin: 0 auto;
    text-align: center;
    margin-top: 3vh;
}

.paginationBtn{
    width: 6rem;
}