*{
    background-color: #159d49;

}
.header{
    text-align: center;
    font-size: 50px;
    color: #1ef116;
}

#searchDiv{
    text-align: center;
}

#searchBar{
    height: 5vh;
    width: 20rem;
    color: #1ef116;
    font-size: 24px;
}

#searchBar::placeholder{
    font-size: 24px;
    color: #1ef116;
}

#searchBtn{
    height: 3vh;
    width: 10rem;
    color: #03f05e;
}
#cardContainer{
    display: flex;
    flex-wrap: wrap;
}

#characterDiv{
    margin: 0 auto;
    border: solid;
    text-align: center;
    margin-top: 1rem;
}

#paginationContainer{
    margin: 0 auto;
    text-align: center;
    margin-top: 3vh;
}

.paginationBtn{
    width: 6rem;
}