*{
    background-color: #159d49;

}
.header{
    text-align: center;
    font-size: 50px;
    color: #1ef116;
}

/** sort/search **/
#sortSearchDiv{
    display: flex;
    justify-content: space-evenly;
}
#searchDiv{
    margin: 0 auto;
    text-align: center;
    border-color: yellow;
}

#characterSearch{
    margin: 0 auto;
    border: solid;
    border-color: black;
    text-align: center;
    margin-top: 1rem;
}
#searchBar{
    height: 5vh;
    width: 20rem;
    color: #1ef116;
    font-size: 24px;
}

#searchBar::placeholder{
    font-size: 24px;
    color: #1ef116;
}

#searchBtn{
    height: 3vh;
    width: 10rem;
    color: #03f05e;
}


/** CARDS **/
#cardContainer{
    display: flex;
    flex-wrap: wrap;
}

#characterDiv{
    margin: 0 auto;
    border: double;
    text-align: center;
    margin-top: 1rem;
}


/** PAGINATION **/

#paginationContainer{
    margin: 0 auto;
    text-align: center;
    margin-top: 3vh;
}

.paginationBtn{
    width: 6rem;
}

