*{
    background-color: rgb(253, 138, 96);
}
.header{
    text-align: center;
    margin-top: 10vh;
}
.input{
    margin: 0 auto;
    text-align: center;
}
input{
    height: 4vh;
    width: 18rem;
    color: white;
    font-size: 24px;
    
}
input::placeholder{
    color: white;
    font-size: 24px
}
#movieDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem; 
    justify-content: center; 
}
#movieImg{
    height: 40vh;
    width: 17rem;
}
#movieItem{
   border: solid;
   border-color: black;
   flex-wrap: wrap;
   margin-left: 3rem;
   margin-top: 3vh;
   text-align: center;
   font-size: 24px;
   background-color: black;
  
}
h3{
    background-color: black;
    color: orangered;
}