*{
    text-align: center;
}
#colorBox{
    text-align: center;
    margin: 0 auto;
}
body{
background-color: pink;
}
#changeTextButton{
    margin: 0 auto;
    height: 5rem;
    width: 14rem;
    text-align: center;
    background-color: lightblue;


}
#changeBodyColorBtn{
    height: 7rem;
    width: 16rem;
    background-color: black;
    color: wheat;
}

.toggle{
    height: 3rem;
    width: 20rem;
    border: solid;
    border-color: black;
    background-color: lightyellow;
}
.toggleParagraph{
    font-size: xx-large;
    /* display: none; */
}