h1{
    text-align: center;
}
#searchDiv{
    margin: 0 auto;
    text-align: center;
}
#pokemonContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 80vh;
    width: 90vw;
    gap: 2rem;
}

#pokemonDiv{
    margin: 0 auto;
    margin-top: 7rem;
    text-align: center;
}
#pokemonName{
    margin: 0 auto;
    text-align: center;
    color: darkred;
}
#pokemonImg{
    height: 40vh;
    width: 24vw;
}


#paginationDiv{
    text-align: center;
}


/** cards **/
.pokemonCard{
    text-align: center;
    margin-top: 4vh;
    border: solid;
}
.namePokemon{
    font-size: 24px;
}
.imgPokemon{
    height: 15vh;
    width: 10vw;
}