h1{
    text-align: center;
    margin-top: 20vh;
    font-size: 5rem ;
}
#btnContainer{
    margin: 0 auto;
    text-align: center;
}

#jokeContainer{
    margin: 0 auto;
    border: double;
    border-color: red;
    width: 50rem;
    height: 20rem;
}
#jokeDocument{
    text-align: center;
    font-size: 3rem;
}

#punchDocument{
    color: darkgoldenrod;
}
#jokeButton{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    background-color: darkred;
    border-style: dotted;
    margin-top: 2rem;
}