*{
    background-color: rgb(23, 4, 33);
    color: aqua;
}
#searchDiv{
    margin: 0 auto;
    text-align: center;
    margin-top: 20vh;
}
#repoContainer{
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    margin-top: 3vh;
    height: 40vh;
    width: 50vw;
}
.repoDiv{
    border: solid;
    border-color:  red;
    text-align: center;
    height: 20vh;
}